<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Registration Form</title>
</head>
<body>

	<div align="center" method="post">
	<form action="/welcome">
		<h2>Registration Form</h2>
		<label> Firstname : </label> <input><br> <br>
		 <label>
			Lastname : </label> <input><br> <br> <label> Email
			: </label> <input><br> <br> <label> Contact : </label> <input><br>
		<br> <label> Date of Birth : </label> <input><br> <br>
		<label> Username : </label> <input><br> <br> <label>
			Password : </label> <input><br> <br>

		<button type="submit">Register</button>
		</form>
	</div>
</body>
</html>